<ion-header>
  <ion-toolbar color="primary">
    <ion-title style="text-align: center;font-weight: bold;">Verification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="./../../assets/undraw_Code_thinking_re_gka2.png">
<ion-item color="none">
  <ion-label position="floating">OTP</ion-label>
  <ion-input placeholder="Enter your OTP"></ion-input>
</ion-item>
<br>
<ion-button expand="block"><b>Next</b></ion-button>
<ion-button  fill="clear" expand="block">
  <b style="color: black;">Back</b>
</ion-button>
</ion-content>
