<ion-header>
  <ion-toolbar color="primary">
    <ion-title style="text-align: center;font-weight: bold;">Forgot-Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="./../../assets/undraw_Code_thinking_re_gka2.png">
<ion-item color="none">
<p style="font-size: medium; color: red;"><strong>Enter your Employee ID and Email ID .</strong> </p>
  <ion-label position="floating">Employee id</ion-label>
  <ion-input placeholder="Enter your Employee id"></ion-input>
</ion-item>

<ion-item color="none">
  <ion-label position="floating">Email</ion-label>
  <ion-input placeholder="Enter your Email id"></ion-input>
</ion-item>
<br>
<ion-button expand="block" (click)="submit()"><b>Submit</b></ion-button>
<br>
<!-- <ion-button expand="block" style="color: none; --border-width: 0px !important;"><b>Back</b></ion-button> -->
<ion-button  fill="clear" expand="block" (click)="back()">
  <b style="color: black;">Back</b>
</ion-button>
</ion-content>
